<div class="categories">
    <div class="container">
        <h3 class="categories__title">More Useful Crypto Categories and Sites of 2020!</h3>
        <div class="categories__row">
            <div class="categories__col">
                <ul class="categories__list">
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/facebook-cryptocurrency">Facebook Cryptocurrency</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/blockchain-developer">Blockchain Developer</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-wiki">Bitcoin Wiki</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/crypto-guides-and-courses-know-how-info">Cryptocurrency Guide</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/useful-tools">Useful Tools</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/cryptocurrency-podcast">Cryptocurrency Podcast</a></li>
                </ul>
            </div>
            <div class="categories__col">
                <ul class="categories__list">
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/medium-cryptocurrency">Medium Cryptocurrency</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/professional-cryptocurrency-trader">Pro Cryptocurrency Trader</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-charity">Bitcoin Charity</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/advertising-cryptocurrency">Advertising Cryptocurrency</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/buy-with-bitcoin">Buy With Bitcoin</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/cryptocurrency-api">Cryptocurrency API</a></li>
                </ul>
            </div>
            <div class="categories__col">
                <ul class="categories__list">
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/best-blockchain-books">Best Blockchain Books</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/ted-talks-cryptocurrency">Ted Talks Cryptocurrency</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-twitter">Bitcoin Twitter</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/crypto-video-knowledge">Crypto Video Knowledge</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-calculator">Bitcoin Calculator</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/cryptocurrency-chrome-extensions">Crypto Chrome Extensions</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/blockchain-events">Blockchain Events</a></li>
                </ul>
            </div>
            <div class="categories__col">
                <ul class="categories__list">
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-legal">Bitcoin Legal</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/blockchain-security">Blockchain Security</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/cryptocurrency-beginners">Cryptocurrency Beginners</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/how-to-mine-bitcoin">How To Mine Bitcoin</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/telegram-ico">Telegram Cryptocurrency</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/ico">Crypto ICOs</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-tumbler-mixer-services">Bitcoin Tumbler (Mixer) Services</a></li>
                </ul>
            </div>
            <div class="categories__col">
                <ul class="categories__list">
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/cryptocurrency-trading-tools">Cryptocurrency Trading Tools</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/bitcoin-nodes-visualization">Bitcoin Nodes</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/best-cryptocurrency-apps-ios">Best Cryptocurrency Apps iOS</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/cryptocurrency-discord">Cryptocurrency Discord</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/tradingview-bitcoin">Tradingview Bitcoin</a></li>
                    <li class="categories__list-item"><a class="categories__list-link" href="https://cryptolinks.com/blockchain-developer">Blockchain Developer</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="text-block"><div class="container"></div></div>
