


<!-- BEGIN FOOTER -->
<footer class="footer">
    <div class="footer__holder">
        <div class="footer__bg">
        </div>
        <div class="container">
            <!--
            <div class="footer__social">
                <div class="social social--footer">
                    <a class="social__link" href="{$home_site}"><span>My blog</span></a>
                    <a class="social__link" href="{$home_site}">
                        <svg class="icon-svg icon-linkedin"><use xlink:href="{$home_site}"></use></svg>
                    </a>
                    <a class="social__link" href="{$home_site}">
                        <svg class="icon-svg icon-facebook"><use xlink:href="{$home_site}"></use></svg>
                    </a>
                    <a class="social__link" href="{$home_site}">
                        <svg class="icon-svg icon-twitter"><use xlink:href="{$home_site}"></use></svg>
                    </a>
                </div>
            </div>
            -->
            <div class="footer__copy">
                <div class="contact__row"></div>
                © 2021 - 2021 Taiwan Real Price |
                <!--
                <a href="{$home_site}" target="_blank">Best XXXXX Blog</a> |
                <a href="{$home_site}" target="_blank">關於</a> |
                <a href="{$home_site}" target="_blank">聯繫方式</a> |
                <a href="{$home_site}" target="_blank">服務條款及隱私政策</a> |
                -->
                <a href="{$home_site}" target="_blank">Author rpt01.com</a>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
</div>
<!-- end .wrapper -->

</body>
</html>