{include file='common/header' /}
<!-- BEGIN CONTENT -->
<section class="main">
    <div class="content">
        <div class="container">
            <div class="content__wrap">
                <div class="content__head">
                    <div class="content__head-inner">
                        <div class="content__head-left">
                            <div class="content__head-title"><span class="thumb__head-icon icon-logo-small Cryptocurrency-Exchanges-icon-withe"></span><span>{$city_name}{$cityIdx}</span></div>
                        </div>
                        <a class="btn content__head-btn" href="{$home_site}">
                            <svg class="icon-svg icon-home"><use xlink:href=""></use></svg><span>BACK TO HOME</span>
                        </a>
                    </div>
                    <!-- end .content__head-inner -->
                    <div class="content__head-breadcrumbs">
                        <div class="breadcrumbs">
                            <ul class="breadcrumbs__list">
                                <li class="breadcrumbs__list-item">
                                    <a href="{$home_site}">
                                        首頁 List of 2022! >
                                    </a>
                                </li>
                                <li class="breadcrumbs__list-item">{$city_name}</li>
                            </ul>
                        </div>
                        <!-- end .breadcrumbs -->
                    </div>
                    <!-- end .content__head-breadcrumbs -->
                </div>
                <!-- end .content__head -->
                <div class="content__holder">
                    <div class="content__text-block">
                        <div class="inner">

                        </div>
                    </div>
                    <!-- end .content__text-block -->
                    <div class="content__row">
                        {foreach $areaMaps as $amCnt => $areaName}
                        {php}
                            $cardIdx = $amCnt + 1 ;
                        {/php}
                        <div class="content__col">
                            <a class="card" href="{$home_site}{$city_name}/{$areaName}" target="_blank">
                                <div class="card__head">
                                    <div class="card__head-phone">
                                        <svg class="icon-svg icon-phone"><use xlink:href=""></use></svg>
                                    </div>
                                    <!-- end .card__head -->
                                    <div class="card__head-name">
                                        <span class="link-icon-base ctm-favicon-icon ctm-favicon-icon2"></span>
                                        <span class="num">{$cardIdx}</span>
                                        <span class="name">{$areaName}</span>
                                    </div>
                                    <div class="card__head-search">
                                        <svg class="icon-svg icon-search"><use xlink:href=""></use></svg>
                                    </div>
                                </div>
                            </a>

                                <div class="">
                                    <ul class="thumb__list">
                                    {foreach $area_addr[$amCnt] as $aaCnt => $addrStr}
                                        <li>
                                        {$addrStr['address_turn']}
                                        </li>
                                    {/foreach}
                                    </ul>
                                </div>
                        </div>
                        <!-- end .content__col -->
                        {/foreach}
                    </div>
                    <!-- end content__row -->
                    {/*
                    <a class="btn content__more-btn" href="{$home_site}">
                        <span>» All Best Cryptocurrency Websites List (1500+ top Cryptocurrency Sites) «</span>
                        <span class="descr">Check out the biggest and most up-to-date best Cryptocurrency websites list in the whole World!</span>
                    </a>
                    */}
                </div>
                <!-- end .content__holder -->
            </div>
            <!-- end .content__wrap -->
        </div>
        <!-- end .container -->
    </div>
    <!-- end .content -->
</section>
<!-- end .main -->
<!-- END CONTENT -->
{include file='common/footer' /}