{include file='common/header' /}
    <!-- BEGIN CONTENT -->
    <section class="main">
        <div class="thumb">
            <div class="container">
                <div class="thumb__row">
                    {foreach $colBoxLists as $cbCnt => $boxArr}
                    <div class="thumb__col">
                        {foreach $boxArr as $bCnt => $cityName}
                        <div class="thumb__box" id="category-block-2" data-id="2" data-column="1">
                            <a class="thumb__head" target="_blank" href="{$home_site}{$cityName}">
                                <h2 class="thumb__head-title">{$cityName}</h2>&nbsp<i class="far fa-map"></i>
                            </a>
                            <div class="desc ">tip 說明</div>
                            <div class="thumb__content" style="max-height: 468px;">
                                <!-- <div class="thumb__content-info">簡介</div> -->
                                <ul class="thumb__list">

                                    {foreach $addrMaps[$cbCnt][$bCnt] as $amCnt => $item}
                                    <li class="thumb__list-item">
                                        <a
                                                class="thumb__list-link"
                                                target="_blank"
                                                data-category="{$cityName} 實價登錄"
                                                data-category-link="{$home_site}{$cityName}"
                                                href="/{$cityName}/{$item['tw_city_area']}/{$item['address_turn']}"
                                                rel="nofollow noopener"
                                        >
                                            <div class="thumb__list-tool js-wrap">
                                                <div class="ctm-favicon-icon ctm-favicon-icon2"></div>
                                                <span class="name">{$item['address_turn']}</span>
                                            </div>
                                        </a>
                                        <a class="thumb__list-review" target="_blank" data-key="0" data-favicon="ctm-favicon-icon ctm-favicon-icon2" href="{}" title="檢示 {$cityName} 實價登錄">
                                            <svg class="icon-svg icon-search"><use xlink:href="{$home_site}"></use></svg>
                                        </a>
                                        <div class="desc">{$item['address_turn']}...</div>
                                    </li>
                                    {/foreach}
                                </ul>
                                <!-- end .thumb__list -->
                            </div>
                            <a class="thumb__more" target="_blank" href="{$home_site}{$cityName}"><span>Click Here to See More...</span><span class="value">(73)</span></a>
                        </div>
                        <!-- end .thumb__box -->
                        {/foreach}
                    </div>
                    <!-- end .thumb__col -->
                    {/foreach}
                </div>
                <!-- end .thumb__row -->
            </div>
            <!-- end .container -->
        </div>
        <!-- end .thumb -->
        {// include file='common/categories'}
        <!-- end .text-block -->
    </section>
    <!-- END CONTENT -->
{include file='common/footer' /}
