{include file='common/header' /}
<!-- BEGIN CONTENT -->
<section class="main">
	<div class="thumb">
		<div class="container">
			<div class="thumb__row">
				<div class="review__left col-sm-3 .d-none .d-sm-block">
				</div>
				<div class="review__right col-12 col-sm-9 ">
					<style type="text/css">
						.review__right .thumb__head {
							border-bottom: unset;

						}
						.review__right .thumb__content table th {
							text-align: right;
						}
						.thumb__content {
							margin-right: unset;
						}

					</style>
					{if $data}
					{foreach $data as $cnt => $item}
					<div class="thumb__box" id="category-block-2">
						<a class="thumb__head" href="#" style="background: #f0f0f0;">
							<h2 class="thumb__head-title">{$item['tw_city']}/{$item['tw_city_area']}/{$item['address_turn']}</h2>
						</a>
						<!-- <div class="desc ">tip 說明</div> -->
						<div class="thumb__content">
							<table class="table table-bordered" width="100%">
								<tr>
									<th class="table-primary">城市</th>
									<td>{$item['tw_city']}</td>
									<th class="table-primary">鄉鎮市區</th>
									<td>{$item['tw_city_area']}</td>
								</tr>
								<tr>
									<th class="table-primary">交易標的</th>
									<td>{$item['buy_type']}</td>
									<th class="table-primary">都市土地使用分區</th>
									<td>{$item['land_use_type']}</td>
								</tr>
								<tr>
									<th class="table-primary">交易年月日</th>
									<td>{$item['jiaoyi_date']}</td>
									<th class="table-primary">交易筆棟數</th>
									<td>{$item['jiaoyi_items']}</td>
								</tr>
								<tr>
									<th class="table-primary">總樓層數</th>
									<td>{$item['total_level']}</td>
									<th class="table-primary">移轉層次</th>
									<td>{$item['transfer_target']}</td>
								</tr>
								<tr>
									<th class="table-primary">建物型態</th>
									<td>{$item['building_type']}</td>
									<th class="table-primary">主要用途
									</th>
									<td>{$item['main_use']}</td>
								</tr>
								<tr>
									<th class="table-primary">主要建材</th>
									<td>{$item['materials']}</td>
									<th class="table-primary">建築完成年月</th>
									<td>{$item['completed_date']}</td>
								</tr>
								<tr>
									<th class="table-primary">建物移轉總面積平方公尺</th>
									<td>{$item['transfer_total_area']}</td>
									<th class="table-primary">有無管理組織</th>
									<td>{$item['committee']}</td>
								</tr>
								<tr>
									<th class="table-primary">建物現況格局-房</th>
									<td>{$item['structure_building_bedroom']}</td>
									<th class="table-primary">總價元</th>
									<td>{$item['total_price']}</td>
								</tr>
								<tr>
									<th class="table-primary">建物現況格局-廳</th>
									<td>{$item['structure_building_apartment']}</td>
									<th class="table-primary">單價元平方公尺</th>
									<td>{$item['price_square']}</td>
								</tr>
								<tr>
									<th class="table-primary">建物現況格局-衛</th>
									<td>{$item['structure_building_bathroom']}</td>
									<th class="table-primary">陽台面積</th>
									<td>{$item['balcony_area']}</td>
								</tr>
								<tr>
									<th class="table-primary">建物現況格局-隔間</th>
									<td>{$item['structure_building_part']}</td>
									<th class="table-primary">附屬建物面積</th>
									<td>{$item['attached_building_area']}</td>
								</tr>
								<tr>
									<th class="table-primary">備註</th>
									<td>{$item['memo']}</td>
									<th class="table-primary">&nbsp;</th>
									<td>&nbsp;</td>
								</tr>
							</table>
						</div>
					</div>
					{/foreach}
					{else}

					{/if}
				</div>

			</div>
			<!-- end .thumb__row -->
		</div>
		<!-- end .container -->
	</div>
	<!-- end .thumb -->
	{//include file='common/categories'}
	<!-- end .text-block -->
</section>
<!-- END CONTENT -->
{include file='common/footer' /}